body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: aqua;
}

.flexable-container {
    display: flex;
    margin-bottom: 100px;

}


.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(aqua, black);
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;


}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiance-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.ex {
    color: aqua;
    margin-left: 60px;
}

.experiance-dev {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.experiance-dev h2 {
    text-align: center;
    font-size: 30px;
}

#web-ex {
    border-left: 7px solid;
    border-right: 7px solid;
    border-image: linear-gradient(aqua, black);
    border-image-slice: 1;

}

#ex-dev {
    border-left: 7px solid;
    border-right: 7px solid;
    border-image: linear-gradient(rgb(230, 118, 6), rgb(18, 136, 227));
    border-image-slice: 1;
}

.foot {
    text-align: center;
    margin-top: 150px;
}